@font-face {
	font-family: 'bss4wp';
	src:url('fonts/Bootstrap-Shortcodes-for-WordPress.eot?-o1r0ap') format('embedded-opentype');
	src:url('fonts/Bootstrap-Shortcodes-for-WordPress.eot?#iefix-o1r0ap') format('embedded-opentype'),
		url('fonts/Bootstrap-Shortcodes-for-WordPress.woff?-o1r0ap') format('woff'),
		url('fonts/Bootstrap-Shortcodes-for-WordPress.ttf?-o1r0ap') format('truetype'),
		url('fonts/Bootstrap-Shortcodes-for-WordPress.svg?-o1r0ap#Bootstrap-Shortcodes-for-WordPress') format('svg');
	font-weight: normal;
	font-style: normal;
}

.bs_bootstrap-logo {
	padding: 0 3px;
}
.wp-media-buttons .add_media span.bs_bootstrap-logo:before,
.mce-i-bootstrap-shortcodes:before {
	font-family: 'bss4wp' !important;
	content: "\e600" !important;
	color: #6f5499 !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	top: -1px;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#wp_fs_bootstrap-shortcodes {
	font-size: 14px !important;
}
